<nav class="navbar is-open-sub">
    <div class="nav-dropdown-bg"></div>
    <div class="navbar-container">
        <div class="logo-area">
            <a href="/" class="logo" data-root-href>DUEGO SYSTEM</a>
        </div>
        <ul class="nav-links">
            <li class="nav-item">
                <span>회사소개</span>
                <ul class="sub-menu">
                    <li><a href="/about/vision.html">되고시스템 소개</a></li>
                    <li><a href="/about/ceo.html">CEO 인사말</a></li>
                    <li><a href="/about/business.html">사업분야 및 인증</a></li>
                    <li><a href="/about/history.html">주요 연혁</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <span>구독형 서비스</span>
                <ul class="sub-menu">
                    <li><a href="/platform/safer.html">되고세이퍼</a></li>
                    <li><a href="/platform/safer-g.html">되고세이퍼 G</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <span>구축형 서비스</span>
                <ul class="sub-menu">
                    <li><a href="#">민간기업 구축</a></li>
                    <li><a href="#">공공기관 구축</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <span>파트너</span>
                <ul class="sub-menu">
                    <li><a href="/partner/partner.html">파트너</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <span>고객지원</span>
                <ul class="sub-menu">
                    <li><a href="/support/inquiry.html">도입문의</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </li>
        </ul>
        <div class="lang-nav">
            <div class="safer-logo-wrapper">
                <img src="/images/LOGO_SAFER.svg" alt="SAFER" class="safer-logo">
                <span class="safer-text">되고세이퍼</span>
            </div>
        </div>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>